<div class="container">
  <div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" [(ngModel)]="search">
    <div class="input-group-append">
      <span class="input-group-text">Search</span>
    </div>
  </div>

  <p *ngIf="beers.length === 0">Getting beers ...</p>

  <div class="media border p-3 mb-3" *ngFor="let beer of beers | filter: search">
    <img src="{{beer.image_url}}" alt="John Doe" class="mr-3 mt-3 rounded-circle align-self-center" style="width:30px; height: 60px">
    <div class="media-body">
      <h4>{{beer.name}} <small><i>{{beer.tagline}}</i></small></h4>
      <p>{{beer.description}}</p>
    </div>
  </div>
</div>
